* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: lightslategray;
    color: white;
    /* outline: 1px solid red !important; for debugging and box visibility */
}

body, h1, h2, h3, ol, ul, p {
    font-family: "Brush Script MT", "Lucida Handwriting", Cursive;
}

.button-style {
    display: inline-block; /* Allows the link to act like a box/button */
    background-color: cornflowerblue;
    line-height: 1;
    border: 2px solid black; /* must explicitly define the CSS border property because links have no border by default */
    text-decoration: none;
}

h1, h2, h3 {
    color: orange; 
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

a {
    display: block;
    width: fit-content;
    margin: 5px auto;
    text-align: center;
}